
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; 
    background-color: #f4f4f9; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: white; 
    padding: 20px;
    border-radius: 10px; 

    width: 100%;
    max-width: 500px; 
}


legend {
    font-size: 1.5rem; 
    font-weight: bold;
    color: #333; 
    margin-bottom: 20px; 
}

label {
    font-size: 1rem;
    color: #555; 
    margin-bottom: 8px; 
    display: inline-block;
}


input[type="password"],
input[type="month"],
input[type="number"] {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    font-size: 1rem;
}

input[type="image"] {
    width: 150px; 
    height: auto;
    margin-top: 10px;
    border: none; 
 
}
